#set($payload = "mutation AddOrder {
   addOrder(order: {id: ""$ctx.arguments.order.id"",
            product: ""$ctx.arguments.order.product"",
            quantity: ""$ctx.arguments.order.quantity"" }) {
     id
     product
     quantity
   }
}")
{
    "version": "2018-05-29",
    "method": "POST",
    "resourcePath": "/graphql",
    "params": {
        "headers": {
            "Content-Type": "application/json",
            "X-Api-Key": "da2-fdqysmgwkzhclmm3srjw5lsnnu"
        },
        "body": {
            "query": "$util.escapeJavaScript($payload)"
        }
    }
}