#set($payload = "query ListUsers {
    allUsers {
        users {
            id
            name
        }
        nextToken
    }
}")
{
    "version": "2018-05-29",
    "method": "POST",
    "resourcePath": "/graphql",
    "params": {
        "headers": {
            "Content-Type": "application/json",
            "X-Api-Key": "da2-sfemyq7jhngexp44bvajnoy3kq"
        },
        "body": {
            "query": "$util.escapeJavaScript($payload)"
        }
    }
}