#set($payload = "query GetUser {
    getUser(id: ""$ctx.arguments.id"") {
        id
        name
    }
}")
{
    "version": "2018-05-29",
    "method": "POST",
    "resourcePath": "/graphql",
    "params": {
        "headers": {
            "Content-Type": "application/json",
            "X-Api-Key": "da2-7onhhg45tzaddofbbj6jl62nb4"
        },
        "body": {
            "query": "$util.escapeJavaScript($payload)"
        }
    }
}